* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 60%;
  margin: 0 auto;
  background-color: white;
}

h1 {
  color: #e52f6e;
  font-family: 'Fredoka One', cursive;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

h3 {
  text-transform: uppercase;
  font-family: 'Fredoka One', cursive;
  margin-top: 10px;
}

p {
  padding: 10px 0;
  font-family: 'Fredoka', sans-serif;
}

a {
  font-family: 'Fredoka', sans-serif;
  font-size: 13px;
  color: #59b8d7;
  text-decoration: none;
}

body, span {
  text-align: center;
}

#karim{
  margin-bottom:10px;
}

.box {
  width: calc(94% / 3);
  height: 100px;
  background-color: #0F0E17;
  color: white;
  margin: 1%;
  float: left;
  text-align: left;
  box-shadow: 3px 3px 3px 3px #D3D3D2;
}

img {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  float: left;
}